*{
    --orange : #ED7D31;
    --orange-transparent : rgba(237, 125, 49,0.5);
    --gray : #303030;
    --light-gray: #A5A5A5;
    --pastel-gray: #6B9194;
    --white: #fff;
    --white-transparent: #ffffff8f;
    --pastel-pink: #946E6B;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

/*========================================
*
* Default Class
*
*=======================================*/

/*====================
*
* utility class
*
*====================*/

.margin-left-5px{
    margin-left: 5px;
}

.margin-right-5px{
    margin-right: 5px;
}

.margin-top-5px{
    margin-top: 5px;
}

.margin-bottom-5px{
    margin-bottom: 5px;
}

.margin-left-10px{
    margin-left: 10px;
}

.margin-right-10px{
    margin-right: 10px;
}

.margin-right-15px{
    margin-right: 15px;
}

.margin-top-10px{
    margin-top: 10px;
}

.margin-bottom-10px{
    margin-bottom: 10px;
}

.margin-left-5{
    margin-left: 5%;
}

.margin-right-5{
    margin-right: 5%;
}

.margin-top-5{
    margin-top: 5%;
}

.margin-bottom-5{
    margin-bottom: 5%;
}

.margin-left-10{
    margin-left: 10%;
}

.margin-right-10{
    margin-right: 10%;
}

.margin-top-10{
    margin-top: 10%;
}

.margin-bottom-10{
    margin-bottom: 10%;
}

.padding-1{
    padding: 1%;
}

.padding-2{
    padding: 2%;
}

.padding-left-2{
    padding-left: 2%;
}

.padding-left-5{
    padding-left: 5%;
}

.width-10{
    width: 10%;
}

.width-30{
    width: 30%;
}

.height-30{
    height: 30%;
}

.width-30px{
    width: 30px;
}

.height-30px{
    height: 30px;
}

.width-50{
    width: 50%;
}

.height-50{
    height: 50%;
}

.width-50px{
    width: 50px;
}

.height-50px{
    height: 50px;
}

.width-60{
    width: 60%;
}

.height-60{
    height: 60%;
}

.width-70{
    width: 70%;
}

.height-70{
    height: 70%;
}

.width-70px{
    width: 70px;
}

.height-70px{
    height: 70px;
}

.width-80{
    width: 80%;
}

.height-80{
    height: 80%;
}

.width-80px{
    width: 80px;
}

.height-80px{
    height: 80px;
}

.height-94{
    height: 94%;
}

.width-100{
    width: 100%;
}

.height-100{
    height: 100%;
}

.width-100px{
    width: 100px;
}

.height-100px{
    height: 100px;
}

.height-230px{
    height: 230px;
}

.border-rad-10{
    border-radius: 10px;
}

.gap-6{
    gap: 6%;
}

.text-align-center{
    text-align: center;
}

/*====================
*
* font class
*
*====================*/
.font-bold{
    font-weight: bold;
}

.font-1-5-em{
    font-size: 1.5em;
}

/*====================
*
* color class
*
*====================*/

.bg-color-orange{
    background-color: var(--orange);
}

.bg-color-gray{
    background-color: var(--gray);
}

.bg-color-light-gray{
    background-color: var(--light-gray);
}

.text-deco-none{
    text-decoration: none;
}

.text-color-orange{
    color: var(--orange);
}

.text-color-white{
    color: var(--white);
}

.text-color-gray{
    color: var(--gray);
}

.hover-color-gray:hover{
    color: var(--gray);
}

.hover-color-orange:hover{
    color: var(--orange);
}

/*====================
*
* text input layout
*
*====================*/
.input-container{
    position: relative;
    display: flex;
    align-items: center;
    height: 64px;
}

.input-field{
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 4px;
    width: 100%;
    height: 30px;
}

.input-label{
    position: absolute;
    left: 4px;
    pointer-events:none;
    animation: input-unfocused 0.2s forwards;
}

.input-field:focus ~ .input-label , .input-field:valid ~ .input-label , .input-field:disabled ~ .input-label , .input-field:read-only ~ .input-label{
    animation: input-focus 0.2s forwards;
}

.date-time{
    animation: input-focus 0.2s forwards;
}

.disabled{
    cursor: not-allowed;
}

@keyframes input-focus{
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(-30px);
    }
}

@keyframes input-unfocused{
    0%{
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(0px);
    }
}

/*=====================
*
* checkbox input layout
*
*====================*/

.input-checkbox-field{
    width: 0;
    height: 0;
}

.input-checkbox-label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    animation: btn-unhover 0.2s forwards;
}

.input-checkbox-label:hover{
    animation: btn-hover 0.2s forwards;
}

/*====================
*
* input picture layout
*
*====================*/

.input-picture-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52%;
    height: 310px;
}

.input-picture-field{
    display: none;
}

.input-picture-label{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 3em;
    z-index: 1;
    transition: 0.3s ease all;
    width: 100%;
    height: 100%;
}

.input-picture-label i {
    visibility: hidden;
}

.input-picture-rendered{
    position: absolute;
    border-radius: 10px;
    transition: 0.3s ease all;
    width: 100%;
    height: 100%;
}

.input-picture-label:hover{
    background-color: var(--orange);
    opacity: 0.8;
    animation: hover-picture 0.5s forwards;
}

.input-picture-label:hover i{
    visibility: visible;
}

.input-picture-label:hover ~ .input-picture-rendered{
    border-radius: 60px;
    transition: 0.5s ease all;
}

@keyframes hover-picture{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
        border-radius: 60px;
    }
}

/*====================
*
* btn class
*
*====================*/

.btn-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.btn-input{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.label-btn-input{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    animation: btn-unhover 0.2s forwards;
}

.label-btn-input:hover , .btn:hover{
    animation: btn-hover 0.2s forwards;
}

.label-btn-input:hover * , .btn:hover *{
    transition: 0.2s ease all;
    font-weight: bolder;
}

.label-btn-profil{
    width: 70%;
}

@keyframes btn-hover {
    0%{

    }

    100%{
        background-color: var(--white-transparent);
        font-weight: bold;
        color: var(--gray);
    }
}

@keyframes btn-unhover {
    0%{
        background-color: var(--white-transparent);
        font-weight: bold;
        color: var(--gray);
    }

    100%{

    }
}

/*====================
*
* link class
*
*====================*/

.btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    animation: btn-link-unhover 0.2s forwards;
}

.btn-link:hover{
    animation: btn-link-hover 0.2s forwards;
}

@keyframes btn-link-hover {
    0%{

    }
    100%{
        transform: scale(1.1);
        transition: 0.2s ease all;
        font-weight: bolder;
    }
}

@keyframes btn-link-unhover {
    0%{
        transform: scale(1.1);
        transition: 0.2s ease all;
        font-weight: bolder;
    }
    100%{

    }
}

/*====================
*
* grid layout
*
*====================*/
.grid-c5-r3{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(3 ,1fr);
}

.grid-c5-r4{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(4 ,1fr);
}

.align-self-center{
    align-self: center;
}

/*========================================
*
*========== Main Option Website ==========
*
*=======================================*/

/*====================
*
* grid layout website
*
*====================*/
.container{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(8 , 1fr);
    column-gap: 0px;
    row-gap: 0px;
    width: 100%;
    height: 100%;
}

/*====================
*
* Header website
*
*====================*/

.header{
    grid-area: 1 / 1 / 2 / 13; /* row-start , column-end, row-end , column-end */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    min-height: 70px;
}

.title-page{
    grid-area: 1 / 6 / 2 / 8;
    text-align: center;
}

/*====================
*
* profil menu
*
*====================*/

.profil-zone{
    grid-area: 1 / 11 / 2 / 12;
    display: flex;
    justify-content: center;
}

.profil-image-button{
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    width: 65px;
    height: 65px;
}

.profil-image-button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.profil-image-button:focus{
    transform: scale(1.2);
    border-radius: 50px;
    transition: 1.2s;
}

/* VOIR POUR LE BUTTON Z-INDEX */
.profil-menu{
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0 , 0 , 0 , 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid var(--transparentSecondaryColor);
    transition: 0.5s;
    opacity: 0;
    width: 210px;
    height: 150px;
}

.profil-image-button:focus ~ .profil-menu{
    transition: 0.5s;
    top: 13%;
    opacity: 1;
    z-index: 2;
}

.profil-informations , .profil-type{
    text-align: center;
    width: 90%;
}

.profil-logout-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--orange);
    z-index: 2;
    width: 90%;
    height: 40%;
}

/*====================
*
* page menu
*
*====================*/
.aside-menu{
    grid-area: 3 / 1 / 8 / 2;
    border-radius: 0 20px 20px 0;
    width: 50%;
}

.main-menu{
    position: relative;
    width: 100%;
    height: 100%;
}

.main-menu ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.main-menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    transition: 0.3s;
}

.main-menu ul li a{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    width: 100%;
    height: 8.5%;
    transition: 0.3s;
}

.main-menu ul li a i{
    font-size: 2em;
}

.main-menu ul li a .nav-text{
    position: absolute;
    font-size: 1.2em;
    transform: translateX(-50%);
    z-index: -1;
}

.main-menu ul li:hover a{
    background-color: var(--orange);
    width: 400px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
}

.main-menu ul li:hover a .nav-text{
    transform: translateX(120px);
    transition: 0.3s;
    z-index: 2;
}

/*=======================
*
* grid layout main
*
*=======================*/

.container-main{
    grid-area: 2 / 2 / 9 / 13;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 10% repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav-tab{
    grid-area: 1 / 1 / 2 / 11;
}

.tab-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.tab-list-element{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    transition: 0.2s ease all;
    width: 20%;
    height: 30px;
}

.tab-list-element:hover{
    transition: 0.2s ease all;
    transform: scale(1.1);
    font-weight: bold;
    color: var(--gray);
}

.tab-list-element:hover *{
    transition: 0.2s ease all;
    font-weight: bolder;
    color: var(--orange);
}

.main-content{
    grid-area: 2 / 1 / 8 / 12;
    display: flex;
}

/*========================================
*
*=========== Login Page Option ===========
*
*========================================*/

/*=======================
*
* grid layout Login Page
*
*=======================*/

.main-login{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 9 / 13; /* row-start , column-end, row-end , column-end */
}

/*=======================
*
* grid layout Login card
*
*=======================*/

.card-login{
    border-radius: 20px;
    background-color: var(--orange);
    width: 30%;
    height: 40%;
}

.card-login-content{
    column-gap: 0px;
    row-gap: 0px;
    width: 100%;
    height: 100%;
}

.card-title{
    grid-area: 1 / 2 / 2 / 5;
    justify-self: center;
    align-self: center;
    font-size: 2em;
}

.card-body{
    grid-area: 2 / 1 / 5 / 6;
    display: flex;
    flex-direction: column;
}

.card-form{
    width: 100%;
    height: 100%;
}

.grid-c5-r3 .row1{
    grid-area: 1 / 1 / 2 / 6;
}

.grid-c5-r3 .row2{
    grid-area: 2 / 1 / 3 / 6;
    display: flex;
    align-items: center;
    gap: 4%;
}

.grid-c5-r3 .row3{
    grid-area: 3 / 1 / 4 / 6;
    display: flex;
    justify-content: center;
}

/*==========================================
*
*====Profil Page view and modify option ====
*
*=========================================*/

.profil-container{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 100%;
}

.profil-container-header{
    grid-area: 1 / 2 / 2 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profil-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.profil-picture{
    grid-area: 1 / 2 / 4 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil-user-name{
    grid-area: 4 / 2 / 5 / 6;
    align-self: center;
}

.profil-fonction{
    grid-area: 5 / 2 / 6 / 6;
    align-self: center;
}

.profil-firstname{
    grid-area: 1 / 7 / 2 / 11;
    align-self: center;
}

.profil-lastname{
    grid-area: 2 / 7 / 3 / 11;
    align-self: center;
}

.profil-mail-address{
    grid-area: 3 / 7 / 4 / 11;
    align-self: center;
}

.profil-phone-number{
    grid-area: 4 / 7 / 5 / 11;
    align-self: center;
}

.profil-password{
    grid-area: 5 / 7 / 6 / 11;
    align-self: center;
}

.profil-btn-zone{
    grid-area: 6 / 7 / 7 / 12;
    display: flex;
    gap: 2%;
}

/*==========================================
*
*============== Table layout ===============
*
*=========================================*/

.table-container{
    grid-area: 2 / 1 / 7 / 12;
    display: flex;
    justify-content: flex-end;
}

.table-form{
    display: flex;
    justify-content: flex-end;
}

.table{
    border-collapse: collapse;
    width: 95%;
    height: 100%;
}

.table-header{
    text-align: left;
}

.table-body{
    display: block;
    height: 560px;
    overflow-y: scroll;
    width: 98%;
    margin-left: 2%;
}

.table-body::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.table-header{
    min-height: 50px;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top-left-radius: 10px;
    border-bottom: 5px solid var(--gray);
}

.table-header tr th:nth-child(1){
    padding-left: 4%;
}

.table-cell{
    min-height: 80px;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation: unhover-table-cell 0.3s ease;
}

.table-cell:nth-child(odd){
    background-color: var(--pastel-gray);
}

.table-cell:nth-child(even){
    background-color: var(--pastel-pink);
}

.table-cell:hover{
    background-color: var(--orange);
    animation: hover-table-cell 0.3s forwards;
}

@keyframes hover-table-cell{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(10px);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: var(--gray);
        font-weight: bold;
    }
}

@keyframes unhover-table-cell{
    0%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
        color: white;
        font-weight: normal;
    }
}

/*=======================
*
* layout for planning
*
*=======================*/

.table-border{
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
    border-left: 1px solid var(--orange);
}

.table-cell-calendar{
    min-height: 80px;
    display: table;
    width: 100%;
    table-layout: fixed;
    vertical-align: top;
}

/* if the day isn't in the current month*/
.table-cell-not-in-month{
    opacity: 0.3;
}

.table-cell-header{
    display: flex;
    justify-content: space-between;
}

.calendar-day-number{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    width: 25px;
    height: 25px;
}

.color-current-day{
    background-color: var(--orange);
}

.table-list{
    list-style: none;
}

/*==========================================
*
*============== Event layout ===============
*
*=========================================*/

.event-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin: 4px 0 4px 0;
}

.event-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.event{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
}

.event-informations{
    width: 95%;
}

/*==========================================
*
*======== Event Details layout =============
*
*=========================================*/